<footer>
  <nav class="navbar">
    <small>
      The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    <ul class="nav">
        <li class="nav-item"><%= link_to "About", about_path %></li>
        <li class="nav-item"><%= link_to "Contact", contact_path %></li>
        <li class="nav-item"><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </div>
</footer>