<header>
  <nav class="navbar navbar-dark bg-dark">
  <%= link_to "sample_app", root_path, class:"navbar-brand", id:"logo"%>
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to "Home",   root_path %></li>
      <li class="list-inline-item"><%= link_to "Help",   help_path %></li>
      <li class="list-inline-item"><%= link_to "Log in", "#" %></li>
    </ul>
</header>

